:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
    margin: 100px auto;
    margin-bottom: 55.5px;
}

.introduction {
    text-align: center;
}

h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
    opacity: 0.7;
}

p {
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;

}

.navigation-links {
    display: flex;
    margin-top: 40px;
    margin-bottom: 48px;
    justify-content: center;
}

.navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
}

.about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
}

.about-me {
    margin: 100px 60px;
    padding: 0 12px !important;
}

.about-paragraphs p {
    margin: 10px;
    text-align: center;
    margin: 50px;
}

.email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}

.yoga-image {
    max-width: 100%;
    height: auto;
}

.navbar {
    margin-bottom: 60px;
}

.primary-link {
    border-radius: 4px;
    padding: 20px 15px;
    color: white;
    background-color: var(--primary-color);
    text-decoration: none;
    box-shadow: var(--box-shadow);
}

@media (max-width: 500px) {
    h1 {
        font-size: 48px;
        line-height: 1;
        text-align: center;
    }

    h2 {
        font-size: 36px;
        text-align: center;
        margin-top: 30px;
    }

    .reverse-on-mobile {
        flex-direction: column-reverse;
    }

    body {
        margin: 100px 10px;
    }

    p {
        text-align: center;
    }

    .primary-link {
        margin: 20px 50px !important;

        padding: 20px 40px;
        display: block;
        margin: auto 0;
        text-align: center;
    }

    .container.mt-5.mb-5 {
        margin-top: 100px !important;
    }

    .about-me,
    .col-md-6 {
        margin: 0 !important;
        padding: 0 !important;
    }

    .container-image,
    .img-fluid.rounded.p-2.mb-4.shadow {
        padding: 0 !important;
    }

    .about-paragraphs p {
        margin: 10px;
        text-align: center;
        margin: 20px;
    }

    h3 {
        padding: 5px;
    }

}